{% extends '@layout/adminLayout.twig' %}

{% block title %}admin add brand page{% endblock %}

{% block content %}

    <div class="content-wrapper">
        <div class="container-fluid">


            <div class="loader-wrapper">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="card card-authentication1 mx-auto my-5">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">add your material</div>
                                <hr>
                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="name">material</label>
                                        <input type="text" class="form-control" name="name" id="name"
                                               placeholder="Enter Your material">
                                    </div>
                                    <p id="name_alert"></p>

                                    <div class="form-group">
                                        <button type="submit" id="admin_submit" class="btn btn-light px-5"><i class="icon-lock"></i> add
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascript %}
    <script src="/adminAsset/js/adminAddMaterial.js"></script>
    {% endblock %}