{% extends '@layout/adminLayout.twig' %}

{% block title %}calendar page{% endblock %}

{% block content %}
        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="mt-3">
                    <div id='calendar'></div>
                </div>

                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->
        </div><!--End content-wrapper-->
{% endblock %}
