{% extends '@layout/TLDefault.twig' %}

{% block title %}login{% endblock %}

{% block content %}
    <form method="post">
        <p class="form-label">email: {{ email }}</p>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <p id="email_alert"></p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            <p id="password_alert"></p>
        </div>
        <button type="submit" id="signup_submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <br>
    <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ path('tllogin') }}"
          style="color: #2e6da4">already have account</a></p>
{% endblock %}
{% block javascript %}
<script src="/asset/js/Signup.js"></script>
{% endblock %}